* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.wrapper {
  max-width: 1600px;
}
.main-title {
  background-image: url(./assets/bg-image-wrapper.jpg);
  width: 100%;
  background-size: cover;
  height: 744px;
  height: 744px;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.nav-item {
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.8;
  font-size: 14px;
  font-weight: normal;
  line-height: 140%;
}
.nav-about {
  font-weight: 500;
  text-decoration: underline;
  opacity: 1;
}
.nav-link:hover {
  cursor: pointer;
  color: #ffffff;
  opacity: 1;
  text-decoration: underline;
  font-weight: 500;
  background-color: gray;
}
.logo {
  padding: 25px 15px;
}
.nav-item-right {
  padding-top: 38px;
  padding-bottom: 38px;
  padding-right: 85px;
}
.nav-item-left {
  padding-left: 85px;
}
.your-life-title {
  padding-top: 136px;
  padding-bottom: 20px;
  margin: 0;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #ffffff;
}
.your-life-description {
  margin: 0 auto;
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  width: 504px;
}

.button-main-page {
  margin-bottom: 183px;
  position: absolute;
}
.button {
  border: none;
  display: flex;
  flex-direction: row;
  padding: 15px 47px;
  width: 184px;
  height: 46px;
  left: 707px;
  top: 406px;
  background: #00afdb;
}
.button-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 0px;
}
.button:hover {
  cursor: pointer;
  background: #009cc2;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 170px;
  height: 20px;
  left: 715px;
  top: 635px;
}
.social-link:hover {
  cursor: pointer;
}

/* block-section-smart-design */
.rappresent {
  display: flex;
  margin-left: 268px;
  margin-right: 268px;
}
.rappresent-content-block {
  margin-top: 295px;
  margin-right: 249px;
  height: 233px;
  width: 408px;
}
.rappresent-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  padding-bottom: 20px;
}
.rappresent-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
  width: 408px;
  padding-bottom: 30px;
}
.rappresent-content-img {
  margin-top: 121px;
  width: 407px;
  height: 582px;
  margin-bottom: 139px;
}
